@use "sass:map";
@import "../../utils/variables";

#header {
    height: 10%;
    button {
      margin-right: 10px;
    }
  }

#menu {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;
    left: 0;
    background: map.get($theme-colors, "primary");
    overflow: hidden;
}

.menu-content {
  // width: 75%;
  margin: 0 auto;
}

.menu-tab-header {
  color: map-get($map: $theme-colors, $key: "primary");
}

#menu-head {
    margin-left: 25px;
}