@use "sass:map";
@import "../../utils/variables";

.raised-text {
    text-shadow: 1px 1px 1px #aeaec0, -1px -1px 1px #faf8f1;
}

.tasks-head {
    padding: 10px 30px;
    box-shadow: 1px 5px 5px #aeaec08a;
    text-align: center;
}

.li-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 10px 0px;

    .is-complete{
        width: 10%;
        display: flex;
        justify-content: center;
    }

    .list-item-label {
        width: 80%;
    }

    .task-input[type=text] {
        width: 90%;
    }

    .edit-btn {
        width: 10%;
        display: flex;
        justify-content: center;
        
        button {
            background: none;
            border: none;
        }
    }
}

.tasks-container {
    overflow-x: hidden;
    height: 75vh;
    overflow-y: scroll;
}

.task-input[type=text] {
    width: 95%;
    border-radius: 16px;
    border: none;
    padding: 10px;
    text-indent: 10px;
    background: map-get($map: $theme-colors, $key: "primary");
    color: map-get($map: $theme-colors, $key: "text");
    box-shadow: $sunken-highlight, $sunken-shadow;
}

.task-check[type=checkbox] {
    position: relative;
    width: 25px;
    height: 25px;
    color: black;
    border: 1px solid map-get($map: $theme-colors, $key: "primary-dark");
    border-radius: 4px;
    appearance: none;
    box-shadow: 1.125px 1.125px 4.0833334923px 0px #aeaec033 inset, -2.083333px -2.083333px 2.083333px 0px #ffffffb2 inset;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    &::before {
      position: absolute;
      content: '';
      display: block;
      top: 2px;
      left: 7px;
      width: 8px;
      height: 14px;
      border-style: solid;
      border-color: white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
    }
    &:checked {
      color: map-get($map: $theme-colors, $key: "text" );
      border-color: map-get($map: $theme-colors, $key: "text");
      background: map-get($map: $theme-colors, $key: "text");
      &::before {
        opacity: 1;
      }
    }
}

.task-input[type=text]:focus-visible {
    border: 1px soild map-get($map: $theme-colors, $key: "primary-dark" );
}

.task-add {
    display: flex;
    margin: 0 auto;
    input[type=text] {
        width: 75%;
    }

    button {
        width: 20%;
        height: 100%;
    }
}

.btn-submit {
    border-radius: 10px;
    height: 1rem;
    min-width: 2rem;
    padding: 10px;
    margin: 0px 10px;
    background: map-get($map: $theme-colors, $key: "primary" );
    border: none;
    box-shadow: map-get($map: $raised, $key: "shadow-1"), map-get($map: $raised, $key: "highlight");
}

.task-label {
    color: map-get($map: $theme-colors, $key: "text");
}

.task-complete {
    text-decoration: line-through;
    opacity: 0.50;
    color: map-get($map: $theme-colors, $key: "text");
}

.popup {
    position: sticky;
    width: 100%;
    // height
}