@use "sass:map";
@import "../../utils/variables";

.raised-text {
    text-shadow: 1px 1px 1px #aeaec0, -1px -1px 1px #faf8f1;
}

.li-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 10px 0px;

    .is-complete{
        width: 10%;
        display: flex;
        justify-content: center;
    }

    .list-item-label {
        width: 80%;
    }

    .task-input[type=text] {
        width: 90%;
    }

    .edit-btn {
        width: 10%;
        display: flex;
        justify-content: center;
        
        button {
            background: none;
            border: none;
        }
    }
}

.tasks-container {
    overflow-x: hidden;
    height: 75vh;
    overflow-y: scroll;
}


.task-input[type=text] {
    width: 95%;
    border-radius: 16px;
    border: none;
    padding: 10px;
    text-indent: 10px;
    background: map-get($map: $theme-colors, $key: "primary");
    color: map-get($map: $theme-colors, $key: "text");
    box-shadow: $sunken-highlight, $sunken-shadow;
}

.task-input[type=text]:focus-visible {
    border: 1px soild map-get($map: $theme-colors, $key: "primary-dark" );
}

.task-add {
    display: flex;
    width: 75vw;
    margin: 0 auto;
    input[type=text] {
        width: 75%;
    }

    button {
        width: 20%;
        height: 100%;
    }
}

.btn-submit {
    border-radius: 10px;
    height: 1rem;
    min-width: 2rem;
    padding: 10px;
    margin: 0px 10px;
    background: map-get($map: $theme-colors, $key: "primary" );
    border: none;
    box-shadow: map-get($map: $raised, $key: "shadow-1"), map-get($map: $raised, $key: "highlight");
}

.task-label {
    color: map-get($map: $theme-colors, $key: "text");
}

.task-complete {
    text-decoration: line-through;
    opacity: 0.50;
    color: map-get($map: $theme-colors, $key: "text");
}

.popup {
    position: sticky;
    width: 100%;
    // height
}