{
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "components": "./src/components",
                "assets": "./src/assets",
                "firebase": "./src/firebase",
                "utils": "./src/utils",
                "hooks": "./src/hooks"
            }
        }]
    ]
}