//palette
$primary: #FEECE6;
$primary-dark: #eacec8;
$dark: #252525;
$text: #a06f64;
$dark-bg: linear-gradient(180deg, #221915 0%, #3E302A 46.34%, #1A0B05 125.28%);
/**neomorphism-shadows & highlights**/
//raised
$highlight-dramatic: -4.083333492279053px -4.083333492279053px 12.25px 0px #FFFFFF;
$shadow-dramatic-1: 6.125px 6.125px 12.25px 0px #AEAEC066;
$shadow-dramatic-2: 0px 0px 0px 1px #FFFFFF33 inset;
$highlight: -1.6666666269302368px -1.6666666269302368px 5px 0px #FFFFFF;
$shadow-1: 2.5px 2.5px 5px 0px #AEAEC066;
$shadow-2: 0px 0px 0px 0.3333333432674408px #FFFFFF33 inset;
$highlight-soft: -1.6666666269302368px -1.6666666269302368px 5px 0px #FFFFFF;
$soft-shadow-1: 2.5px 2.5px 5px 0px #AEAEC066;
$soft-shadow-2: 0px 0px 0px 0.3333333432674408px #FFFFFF33 inset;
//sunken
$sunken-shadow: 6.125px 6.125px 4.083333492279053px 0px #AEAEC033 inset;
$sunken-highlight: -4.083333492279053px -4.083333492279053px 4.083333492279053px 0px #FFFFFFB2 inset;
//dimension
$rounded: 50%;
$timer-circle: 18rem;
$btn-size: 4rem;
$btn-size-small: 2rem;
$watch: 218px;
$phone: 320px;
$small-tablet: 600px;
$tablet: 768px;
$laptop: 1200px;
$desktop: 1600px;

h6 {
  margin: 0;
  font-weight: 500;
  font-size: 1.5rem;
  color: $text;
}

.App {
  background: $primary;
  height: 100vh;
}

.flex-center{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.flex-end {
  display: flex; 
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.inline-flex {
  @extend .flex-center;
  flex-direction: row;
}

.container {
  width: 75%;
  height: 100%;
  @extend .flex-center;
  justify-content: flex-start;
}

.raised-dramatic {
  box-shadow: $highlight-dramatic, $shadow-dramatic-1;
}

.raised {
  box-shadow: $highlight, $shadow-1;
}

.raised-text {
  text-shadow: 1px 1px 1px #aeaec0;
}

.raised-soft {
  box-shadow: $highlight-soft, $soft-shadow-1;
}

.sunken-dramatic {
  box-shadow: $sunken-highlight, $sunken-shadow;
}

.raised-icon {
    stroke: none;
    fill: #feece6;
    filter: drop-shadow(1px 1px 1px #aeaec0);
}

#timer {
  @extend .flex-center;
  height: 60%;
  width: 100%;
}

.timer-display{ 
  font-size: 3rem;
}

.controls {
  width: 100%;
  
}

.timer-controls {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.timer-container {
  @extend .raised-dramatic;
  border-radius: $rounded;
  height: $timer-circle;
  width: $timer-circle;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    border-radius: inherit;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
  }
}

.timer-text {
  color: $text;
  display: inline;
  margin: 0;
  @extend .raised-text
}

.second {
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

#controls {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-inner {
  border-radius: inherit;
    fill: $primary;
    color: $primary;
    display: flex;
    justify-content: center;
    svg {
      width: 20px;
      height: auto;
    }
}

.timer-btn {
  height: $btn-size;
  width: $btn-size;
  border-radius: $rounded;
  background: none;
  border: none;
  @extend .raised;
  div {
    border-radius: inherit;
    fill: $text;
    color: $text;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    svg {
      width: 20px;
      height: auto;
    }
  }
  &:active {
    @extend .sunken-dramatic;
  }
}

.btn-long {
  @extend .timer-btn;
  height: 15rem;
  min-width: 100%;
  background: none;
  border-radius: 50px;
  div{
    display: flex;
    flex-direction: row;
  }
}

.btn-base {
  background: none;
  border: none;
  text-align: center;
  border-radius: 50%;
  width: 100%;
  height: 100%; 
  
  p{ 
    margin: 0px;    
  }
}

.btn-small {
  @extend .raised-soft;
  width: $btn-size-small;
  height: $btn-size-small;
  font-size: 0.8rem;
  background: none;
  border: none;
  border-radius: 50%;
  color: $text;
  :hover {
    cursor: pointer;
  }
}

.timer-select {
  height: 75%;
}

.sound-options {
  list-style-type: none;
  display: inline;
  li{
    display: inline-flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
    color: $text;
    svg {
      filter: drop-shadow(1.5px 3px 0px #AEAEC066);
      // @extend .raised-soft;
    }
    :hover {
      cursor: pointer;
    }
  }
}

#menu {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: absolute;
  left: 0;
  background: $primary;
}

#header {
  height: 10%;
  button {
    margin-right: 10px;
  }

  :last-child {
    margin: 0px;
  }
}

#menu-head {
  margin-left: 25px;
}

#brand-title {
    color: $text;
    font-size: 2rem;
    @extend .raised-text;
}

.icon {
  svg {
    @extend .raised-icon;
  }
}

@media (min-width: $small-tablet) {
  .timer-container {
    height: 50vw;
    width: 50vw;
  }

  // .timer-btn {
  //   height: 12vw;
  //   width:12vw
  // }
}

@media (min-width: $tablet) and (max-width: $laptop) {
  .timer-container {
    height: 45vw;
    width: 45vw;
  }

  // .timer-btn {
  //   width: 8vw;
  //   height: 8vw;
  // }
}

@media screen and (min-width: $laptop) and (max-width: $desktop){ 
  .timer-container{
    height: 25vw;
    width: 25vw;
  }

  // .timer-btn {
  //   width: 5vw;
  //   height: 5vw;
  // }
}

@media screen and (min-width: $desktop) { 
  .timer-container{
    height: 20vw;
    width: 20vw;
  }

  .timer-btn {
    width: $btn-size-small;
    height: $btn-size-small;
  }
}